# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1 =2
type(num_1)

int

#### 2. asign any number of type float to the variable "num_2"

In [2]:
num_2 = 3.5

In [3]:
type(num_2)

float

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [4]:
total = num_1 + num_2

In [5]:
total

5.5

#### 4. check the type of variable "total"

In [6]:
type(total)

float

#### 5. assign variable "height" with your height

In [8]:
height = 5.2

#### 6. asign variable "mass" with your weight

In [9]:
mass = 52

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [10]:
bmi = mass/height**2

#### 8. print value from "bmi" variable

In [11]:
bmi

1.923076923076923

# String

#### 1. Create variable "name" with your first name

In [12]:
name="Tasneem"

#### 2. Create variable "surname" with your surname

In [15]:
surname = "Yousuf"

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [35]:
name_surname = name+' '+surname

#### 4. print variable "name_surname"

In [36]:
name_surname

'Tasneem Yousuf'

#### 5. print first letter from variable "name_surname"

In [17]:
name_surname[0]

'T'

#### 6. print your name (without enmpty space) from variable "name_surname"

In [37]:
name_surname[:name_surname.find(' ')]+name_surname[name_surname.find(' ')+1:]

'TasneemYousuf'

#### 7. print your surname 10x (use variable surname)

In [38]:
surname*10

'YousufYousufYousufYousufYousufYousufYousufYousufYousufYousuf'

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [39]:
greeting = "Hello my name is "+name_surname

#### 9. print "message" variable

In [40]:
greeting

'Hello my name is Tasneem Yousuf'

## List

#### 1. create empty list with name "empty_list"

In [41]:
empty_list=[]

#### 2. create list "heights" with five random values

In [43]:
heights = [5.1, 4.7, 4.9, 5.0, 6.1]

#### 3. print heights

In [44]:
heights

[5.1, 4.7, 4.9, 5.0, 6.1]

#### 4. print type of variable "heights"

In [45]:
type(heights)

list

#### 5. print second value from "heights"

In [46]:
heights[1]

4.7

#### 6. assign last three values from "heights" to another list "heights_2"

In [47]:
heights_2 = heights[2:]

#### 7. print "heights_2"

In [48]:
heights_2

[4.9, 5.0, 6.1]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [49]:
list_all=heights+heights_2

#### 9. print "list_all"

In [50]:
list_all

[5.1, 4.7, 4.9, 5.0, 6.1, 4.9, 5.0, 6.1]

#### 10. print the type of "list_all"

In [51]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [52]:
empty_tuple=()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [53]:
empty_tuple[0]="Tasneem"

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

In [ ]:
Tuples are immutable i.e. can not be changed, while lists are mutable and dynamic and assignments in lists at different positions are possible.

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [54]:
empty_dict={}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [55]:
heights_dict={"Tasneem":5.2}

#### 3. asign another name and height to "heights_dict"

In [58]:
heights_dict["Maria"]=3.7

#### 4. print "heights_dict" dictionary

In [59]:
heights_dict

{'Tasneem': 5.2, 'Maria': 3.7}

#### 5. print your height from the "heights_dict" dictionary

In [60]:
heights_dict["Tasneem"]

5.2

#### 6. print all values from "heights_dict" dictionary

In [61]:
heights_dict.values()

dict_values([5.2, 3.7])

#### 7. print all keys from "heights_dict" dictionary

In [62]:
heights_dict.keys()

dict_keys(['Tasneem', 'Maria'])