A for loop (definite iteration) is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

Note

In the past, for loops were often used for applying different operations to a dataset. This made the process quite slow for data with a lot of rows. Nowadays, in Python, we have much better options for this.

Definite iteration can be done in 3 ways:

1. Numeric Range Loop
    for i=1 to 10
        [loop]

2. Three-Expression Loop
    for(i=1;i<=10;i++)
        [loop]

3. Collection-based or Iterator-based Loop (Python uses this only)
    for i in <collection>
    <loop body>

In Python, iterable means an object can be used in iteration. The term is used as:

    An adjective: An object may be described as iterable.
    A noun: An object may be characterized as an iterable.

If an object is iterable, it can be passed to the built-in Python function iter(), which returns something called an iterator.
        
        >>> iter('foobar')                             # String
<str_iterator object at 0x036E2750>

>>> iter(['foo', 'bar', 'baz'])                # List
<list_iterator object at 0x036E27D0>

>>> iter(('foo', 'bar', 'baz'))                # Tuple
<tuple_iterator object at 0x036E27F0>

>>> iter({'foo', 'bar', 'baz'})                # Set
<set_iterator object at 0x036DEA08>

>>> iter({'foo': 1, 'bar': 2, 'baz': 3})       # Dict
<dict_keyiterator object at 0x036DD990>

    These object types, on the other hand, aren’t iterable:

>>> iter(42)                                   # Integer
Traceback (most recent call last):
  File "<pyshell#26>", line 1, in <module>
    iter(42)
TypeError: 'int' object is not iterable

>>> iter(3.1)                                  # Float
Traceback (most recent call last):
  File "<pyshell#27>", line 1, in <module>
    iter(3.1)
TypeError: 'float' object is not iterable

>>> iter(len)                                  # Built-in function
Traceback (most recent call last):
  File "<pyshell#28>", line 1, in <module>
    iter(len)
TypeError: 'builtin_function_or_method' object is not iterable
    
    
Iterable 	An object (or the adjective used to describe an object) that can be iterated over
Iterator 	The object that produces successive items or values from its associated iterable
iter() 	The built-in function used to obtain an iterator from an iterable

In [1]:
a = ['foo', 'bar', 'baz']
itr = iter(a)
itr

In [2]:
next(itr)

'foo'

In [3]:
next(itr)

'bar'

In [4]:
next(itr)

'baz'

If all the values from an iterator have been returned already, a subsequent next() call raises a StopIteration exception.

In [5]:
next(itr)

StopIteration:

You can only obtain values from an iterator in one direction. You can’t go backward. There is no prev() function. But you can define two independent iterators on the same iterable object. Each iterator maintains its own internal state, independent of the other.

In [6]:
itr1 = iter(a)
itr2 = iter(a)

In [7]:
next(itr1)

'foo'

In [8]:
next(itr2)

'foo'

When you use list(), tuple(), or the like, you are forcing the iterator to generate all its values at once, so they can all be returned. If the total number of objects the iterator returns is very large, that may take a long time.

In [9]:
a = ['foo', 'bar', 'baz']
itr = iter(a)
list(itr)

['foo', 'bar', 'baz']

In [11]:
itr = iter(a)
tuple(itr)

('foo', 'bar', 'baz')

In [13]:
itr = iter(a)
set(itr)

{'bar', 'baz', 'foo'}

#Iterating Through a Dictionary

In [15]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

To access the dictionary values within the loop

In [16]:
for k in d:
    print(d[k])

1
2
3

or,

In [17]:
for v in d.values():
     print(v)

1
2
3

you can iterate through both the keys and values of a dictionary simultaneously. similarly, for tuples:

In [18]:
for i, j in [(1, 2), (3, 4), (5, 6)]:
    print(i, j)

1 2
3 4
5 6

In [19]:
d = {'foo': 1, 'bar': 2, 'baz': 3}

d.items()

dict_items([('foo', 1), ('bar', 2), ('baz', 3)])

In [20]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k, v in d.items():
     print('k =', k, ', v =', v)

k = foo , v = 1
k = bar , v = 2
k = baz , v = 3

a numeric range loop, in which starting and ending numeric values are specified can be made in Python using range

In [21]:
x = range(5)
x

range(0, 5)

In [22]:
for n in x:
    print(n)

0
1
2
3
4

range(<begin>, <end>, <stride>) returns an iterable that yields integers starting with <begin>, up to but not including <end>. If specified, <stride> indicates an amount to skip between values (analogous to the stride value used for string and list slicing).
    
All the parameters specified to range() must be integers, but any of them can be negative. Naturally, if <begin> is greater than <end>, <stride> must be negative (if you want any results):

In [23]:
list(range(-5, 5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [24]:
list(range(5, -5))

[]

In [25]:
list(range(5, -5, -1))

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4]

A for loop can have an else clause as well. The interpretation is analogous to that of a while loop. The else clause will be executed if the loop terminates through exhaustion of the iterable. The else clause won’t be executed if the list is broken out of with a break statement:

In [26]:
for i in ['foo', 'bar', 'baz', 'qux']:
     print(i)
else:
     print('Done.')  # Will execute

foo
bar
baz
qux
Done.