In [1]:
print(len(2))

TypeError: object of type 'int' has no len()

In [2]:
print("I would like " + 2 + " milkshakes, please.")

TypeError: can only concatenate str (not "int") to str

In [3]:
"2" + 2

TypeError: can only concatenate str (not "int") to str

In Python, numbers are organized into two types: Integers and Floats. 

    Integers are whole numbers, positive and negative, like 10, 600001, and -7.
    Floats are numbers with a decimal, like 3.14, 806.63, and 1.0.

In [4]:
anyNum = int(input())
anyNum -= 5
print(anyNum)

 6

1

In [5]:
tripleUp = 5
tripleUp *= 3
print(tripleUp)

15

In [6]:
quarterValue = 100
quarterValue /= 4
print(quarterValue)

25.0

In [13]:
int(25.9)

25

In [8]:
float(-2409)

-2409.0

In [9]:
print(2)

2

In [10]:
print(2 ** 10) #exponent operator

1024

In [12]:
print(10//3) 
# When using floor division, the result of a division is rounded down to the nearest integer value, i.e. to a whole number.

3

if the division results in a negative number? Suppose that we divide -11 by 3, which gives -3.66. What would the result of the following then be?

In [14]:
print(-11 // 3)

-4

because the number is rounded down, and since -3.66 is below zero, rounding down to the nearest integer (or full number) means rounding down to -4